<div class="container ">
  <div class="date">
    2019-04-22
  </div>
  <div class="timeline"></div>
  <mat-card class="quote">
    <mat-card-header>
      <div mat-card-avatar class="quote-image"></div>
      <mat-card-title>Author</mat-card-title>
      <mat-card-subtitle>tag1, tag2</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="quote-content">
      <p>
        "The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting."
      </p>
    </mat-card-content>
    <div>
      Do you think this quote deserves to be the quote of the day?
    </div>
    <mat-card-actions class="action-container">
      <button mat-stroked-button color="accent">YES</button>
      <button mat-stroked-button color="warn">NO</button>
    </mat-card-actions>
  </mat-card>
</div>
