@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700');
:host {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 100px;
  @media(max-width: 500px) {
    grid-template-columns: auto;
  }
}

.main-part {
  padding: 25px 0px 25px 20px;
  @media(max-width: 500px) {
    text-align: center;
    padding: 25px 20px;
  }
}

.second-part {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px 0;
  &>* {
    flex: 1;
  }
  @media(max-width: 500px) {
    padding: 15px 0 0 0;
    flex-direction: row;
    justify-content: space-around;
  }
}
