@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:700');
:host {
  background: #fff;
  display: grid;
  grid-template-columns: 3fr 0.7fr;
  max-width: 600px;
}

.main-part {
  padding: 25px 0px 25px 20px;
}

.second-part {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px 0;
  &>* {
    flex: 1;
  }
}
