.container {
  height: 100%;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas:
    "description main-quote"
    "action-button main-quote"
    "quotes-list-title quotes-list-title"
    "quotes-list quotes-list";
  margin: 0 auto;
  grid-column-gap: 20px;

  @media(max-width: 990px) {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto 1fr;
    grid-template-areas:
      "description"
      "main-quote"
      "action-button"
      "quotes-list-title"
      "quotes-list";
  }
}

.quote-of-the-day-container {
  grid-area: main-quote;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  app-card-generic {
    max-width: 600px;
  }

  padding-right: 5vw;

  @media(max-width: 1100px) {
    padding-right: 2vw;
  }

  @media(max-width: 990px) {
    max-width: 800px;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
  }
}

.quote-of-the-day-divider {
  height: 40px;
  width: 100vw;
  background-image: url("../../assets/pattern.png");
  background-repeat: repeat;
  background-position: center center;
  background-size: contain;
  @media(min-width: 990px) {
    display: none;
  }
}

.description-container {
  grid-area: description;
  padding-left: 5vw;

  @media(max-width: 1100px) {
    padding-left: 2vw;
  }

  @media(max-width: 990px) {
    padding-left: 4%;
    padding-right: 4%;
    justify-self: center;
    text-align: center;
  }
}

.title {
  position: relative;
  font-size: 3rem;
  margin: 70px 0 0 0;

  .trendy-line {
    $topOffset: 10px;
    position: absolute;
    top: calc(#{$topOffset} + 0px);
    right: -10px;
    width: 4px;
    height: 25px;
    background-color: #0002fd;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 4px;
      height: 8px;
      background-color: #0002fd;
    }

    &::before {
      top: calc(#{$topOffset} + 28px);
    }

    &::after {
      top: calc(#{$topOffset} + 44px);
    }
    @media(max-width: 990px) {
      opacity: 0;
    }
  }
  img {
    width: 35px;
    height: 35px;
    display: inline;
  }

  @media(max-width: 700px) {
    font-size: 2.5rem;
    margin: 30px 0 0 0;
  }
}

.subtitle {

  font-size: 1.2rem;
  font-weight: 400;
  margin: 20px 0;
}

.past-quotes-title {
  grid-area: quotes-list-title;
  font-size: 2.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 15px 30px;
  min-height: 120px;
}

.past-quotes-container {
  grid-area: quotes-list;
  background: url("../../assets/pattern.png");
  background-size: contain;
  background-position: center center;
  background-repeat: repeat;
}

.past-quotes-paper {
  margin: 0 auto;
  width: 900px;
  padding: 0 10%;
  box-sizing: border-box;
  mat-divider {
    border-top-width: 15px;
  }
  @media(max-width: 1000px) {
    width: auto;
    padding: 0 5%;
  }
  @media(max-width: 700px) {
    padding: 0 10px;
    mat-divider {
      border-top-width: 10px;
    }
  }
}

.action-button-container {
  grid-area: action-button;
  padding-left: 2vw;
  @media(max-width: 990px) {
    padding-left: 4%;
    padding-right: 4%;
    justify-self: center;
    text-align: center;
  }
}

.action-button {
  padding: 5px 20px;
  font-size: 1.15rem;
  font-weight: 700;
}
