<div *mobxAutorun class="container">
  <div class="description-container">
    <h1 class="title">
        Is This Quote Worthy to Be the Caption on Your Next Ii Photo?
      <div class="trendy-line"></div>
    </h1>
    <h2 class="subtitle">
      Vote and decide if this is a piece of quality content or it should disappear into the abyss and never be remembered again!
    </h2>
  </div>
  <div class="action-button-container">
    <button mat-raised-button class="action-button">
      Login to Save Your Progress
    </button>
  </div>
  <div class="quote-of-the-day-container">
    <!-- <div class="quote-of-the-day-divider"></div> -->
    <app-card-generic>
      <app-card-generic-icon></app-card-generic-icon>
      <app-card-generic-content>
        Be who you are and say what you feel, because those who mind don't
        matter, and those who matter don't mind. VoteState:
        {{ currentQuote.voteState }} Voted {{ currentQuote.voted }}
      </app-card-generic-content>
      <app-card-generic-title>Maya Halin</app-card-generic-title>
      <app-card-generic-button
        (click)="currentQuote.setVoteState(true)"
        color="approval"
        numberOfVoters="12"
        votersPosition="top"
        [isActive]="currentQuote.voteState === true ? true : false"
        [voted]="currentQuote.voted"
      >
        thumb_up_outlined
      </app-card-generic-button>
      <app-card-generic-button
        (click)="currentQuote.setVoteState(false)"
        color="disapproval"
        numberOfVoters="5"
        votersPosition="bottom"
        [isActive]="currentQuote.voteState === false ? true : false"
        [voted]="currentQuote.voted"
      >
        thumb_down_outlined
      </app-card-generic-button>
    </app-card-generic>
  </div>
  <div class="past-quotes-title">
    Past Votes:
  </div>
  <!-- <app-vote-acknowledgement></app-vote-acknowledgement> -->
  <div class="past-quotes-container">
    <div class="past-quotes-paper">
      <app-card-generic>
        <app-card-generic-icon>23/02/2019</app-card-generic-icon>
        <app-card-generic-content>
          Be who you are and say what you feel, because those who mind don't
          matter, and those who matter don't mind. VoteState:
          {{ currentQuote.voteState }} Voted {{ currentQuote.voted }}
        </app-card-generic-content>
        <app-card-generic-title>Maya Halin</app-card-generic-title>
        <app-card-generic-button
          (click)="currentQuote.setVoteState(true)"
          color="approval"
          numberOfVoters="12"
          votersPosition="top"
          [isActive]="currentQuote.voteState === true ? true : false"
          [voted]="currentQuote.voted"
        >
          thumb_up_outlined
        </app-card-generic-button>
        <app-card-generic-button
          (click)="currentQuote.setVoteState(false)"
          color="disapproval"
          numberOfVoters="5"
          votersPosition="bottom"
          [isActive]="currentQuote.voteState === false ? true : false"
          [voted]="currentQuote.voted"
        >
          thumb_down_outlined
        </app-card-generic-button>
      </app-card-generic>
      <mat-divider class=""></mat-divider>
      <app-card-generic>
        <app-card-generic-icon>23/02/2019</app-card-generic-icon>
        <app-card-generic-content>
          Be who you are and say what you feel, because those who mind don't
          matter, and those who matter don't mind. VoteState:
          {{ currentQuote.voteState }} Voted {{ currentQuote.voted }}
        </app-card-generic-content>
        <app-card-generic-title>Maya Halin</app-card-generic-title>
        <app-card-generic-button
          (click)="currentQuote.setVoteState(true)"
          color="approval"
          numberOfVoters="12"
          votersPosition="top"
          [isActive]="currentQuote.voteState === true ? true : false"
          [voted]="currentQuote.voted"
        >
          thumb_up_outlined
        </app-card-generic-button>
        <app-card-generic-button
          (click)="currentQuote.setVoteState(false)"
          color="disapproval"
          numberOfVoters="5"
          votersPosition="bottom"
          [isActive]="currentQuote.voteState === false ? true : false"
          [voted]="currentQuote.voted"
        >
          thumb_down_outlined
        </app-card-generic-button>
      </app-card-generic>
      <mat-divider class=""></mat-divider>
      <app-card-generic>
        <app-card-generic-icon>23/02/2019</app-card-generic-icon>
        <app-card-generic-content>
          Be who you are and say what you feel, because those who mind don't
          matter, and those who matter don't mind. VoteState:
          {{ currentQuote.voteState }} Voted {{ currentQuote.voted }}
        </app-card-generic-content>
        <app-card-generic-title>Maya Halin</app-card-generic-title>
        <app-card-generic-button
          (click)="currentQuote.setVoteState(true)"
          color="approval"
          numberOfVoters="12"
          votersPosition="top"
          [isActive]="currentQuote.voteState === true ? true : false"
          [voted]="currentQuote.voted"
        >
          thumb_up_outlined
        </app-card-generic-button>
        <app-card-generic-button
          (click)="currentQuote.setVoteState(false)"
          color="disapproval"
          numberOfVoters="5"
          votersPosition="bottom"
          [isActive]="currentQuote.voteState === false ? true : false"
          [voted]="currentQuote.voted"
        >
          thumb_down_outlined
        </app-card-generic-button>
      </app-card-generic>
    </div>
  </div>
</div>
