<button
  mat-flat-button
  [ngClass]="{
    top: votersPosition === 'top',
    bottom: votersPosition === 'bottom',
    approval: isActive && votersPosition === 'top',
    disapproval: isActive && votersPosition === 'bottom'
  }"
>
  <div *ngIf="voted && votersPosition === 'top'" class="number-voted">
    {{ numberOfVoters }}
  </div>
  <div class="mat-icon-container">
    <mat-icon><ng-content></ng-content></mat-icon>
  </div>
  <div *ngIf="voted && votersPosition === 'bottom'" class="number-voted">
    {{ numberOfVoters }}
  </div>
</button>
